<h1><%= @treasure.name %></h1>

<p><%= @treasure.name %> is worth <strong>$<%= @treasure.value %></strong></p>

<p><%= @treasure.name %> is located at (<%= @treasure.lat %>, <%= @treasure.lon %>)</p>
